<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.firstproject">
     <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstProject">
        <activity
            android:name=".verify_otp"
            android:label="@string/title_activity_verify_otp"
            android:theme="@style/Theme.FirstProject.NoActionBar">
        </activity>
        <activity
            android:name=".get_number"
            android:label="@string/title_activity_get_number"
            android:theme="@style/Theme.FirstProject.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".snackbar"
            android:label="@string/title_activity_snackbar"
            android:theme="@style/Theme.FirstProject.NoActionBar" />
        <activity android:name=".contactlist">

        </activity>
        <activity android:name=".loginpage" >

        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".hero_list" />
        <activity android:name=".Recycler_view" />
    </application>

</manifest>